<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='./css/styles.css'>
        <link rel='icon' href='./img/weather.png'>
    </head>
    <body>
        {{>header}}

        
        <p>we are in help page</p>

        {{>footer}}
    </body>
</html>